/* button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
} */

/* #rightPanel {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
} */



.canvas-container{
  position: relative;
} 




#btn1 {
  position: absolute;
  top: 12%;
  left: 9%;
}
#btn2{
  position: absolute;
  top: 12%;
  right: 62%;
}

#btn3 {
  position: absolute;
  top: 28%;
  right: 45%;
}
#btn4{
  position: absolute;
  bottom: 35%;
  right: 45%;
}
#btn5 {
  position: absolute;
  bottom: 8%;
  left: 9%;
}
#btn6{
  position: absolute;
  bottom: 8%;
  right: 62%;
}
#btn7 {
  position: absolute;
  top: 28%;
  left: -3%;
}
#btn8{
  position: absolute;
  bottom: 35%;
  left: -3%;
}



.button {
  margin: 10px 50px;
  background-color: #464249;
  color: #fff;
  padding: 12px 13px;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}




