/* button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
} */

/* #rightPanel {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
} */



.canvas-container{
  position: relative;
}




#btn1 {
  position: absolute;
  top: 9%;
  right: 75%;
}
#btn2{
  position: absolute;
  top: 9%;
  right: 40%;
}

#btn3 {
  position: absolute;
  top: 27%;
  right: 21%;
}
#btn4{
  position: absolute;
  top: 55%;
  right: 21%;
}
#btn5 {
  position: absolute;
  bottom: 15%;
  right: 75%;
}
#btn6{
  position: absolute;
  bottom: 15%;
  right: 40%;
}
#btn7 {
  position: absolute;
  top: 27%;
  left: -5%;
}
#btn8{
  position: absolute;
  top: 55%;
  left: -5%;
}



.button {
  margin: 10px 50px;
  background-color: #464249;
  color: #fff;
  padding: 10px 13px;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}




